# Python
venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data
*.csv
data/clean_data.pkl

# OS
.DS_Store

# Virtual environment (keep .iislabs)
# .iislabs/

# MLflow
mlflow/mlartifacts/
mlflow/mlruns.db
mlflow/mlruns/

# ML Service
services/models/model.pkl
services/ml_service/test_*.json
services/ml_service/test_*.sh

# Monitoring
services/prometheus/data/
services/grafana/data/

# Database (optional)
services/database/data/
services/database/pgadmin/
